<section id="appointment" class="py-20 bg-primary-dark" data-aos>
    <div class="max-w-4xl mx-auto text-center px-4 sm:px-6 lg:px-8">
        <h3 class="text-3xl sm:text-4xl text-white font-sans font-light mb-6">
            Készen áll a megújulásra?
        </h3>
        <a href="#contact" class="inline-block px-10 py-4 bg-white text-primary-dark font-bold text-xl rounded-full shadow-2xl hover:bg-gray-200 transition duration-300 uppercase tracking-widest">
            Időpontot Foglalok
        </a>
    </div>
</section>